{% extends 'base.html.twig' %}

{% import 'forms.html.twig' as forms %}

{% block main %}
    {{ forms.show_result(result) }}

    {% if show_help %}
        <div class="help alert alert-warning">
            <p>
                <i class="fa fa-fw fa-info-circle"></i>
                {{ 'resetbyquestionshelp'|trans({'%set_question_path%': path('change-security-question')})|raw }}
            </p>
        </div>
    {% endif %}

    {% if show_policy_for(result) and pwd_show_policy_pos == 'above' %}
        {% include 'self-service/policy.html.twig' with {'config': pwd_policy_config} %}
    {% endif %}

    <div class="alert alert-info">
        <form action="#" method="post" class="form-horizontal">
            {{ forms.row_input_text('login', 'login', 'user', 'login', login) }}
            {{ forms.row_input_select('question', 'question', 'question', questions) }}
            {{ forms.row_input_text('answer', 'answer', 'pencil', 'answer') }}
            {{ forms.row_input_password('newpassword', 'newpassword', 'lock', 'newpassword') }}
            {{ forms.row_input_password('confirmpassword', 'confirmpassword', 'lock', 'confirmpassword') }}
            {% if enable_recaptcha %}
                {{ forms.row_recaptcha(recaptcha_publickey, recaptcha_theme, recaptcha_type, recaptcha_size, lang) }}
            {% endif %}
            {{ forms.row_button_submit() }}
        </form>
    </div>

    {% if show_policy_for(result) and pwd_show_policy_pos == 'below' %}
        {% include 'self-service/policy.html.twig' with {'config': pwd_policy_config} %}
    {% endif %}
{% endblock %}
