{% extends 'layout.twig' %}

{% import 'forms.twig' as forms %}

{% block main %}
    {{ forms.show_result(result) }}

    {% if show_help %}
        <div class="help alert alert-warning">
            <p><i class="fa fa-fw fa-info-circle"></i> {{ 'changehelp'|trans|raw }}</p>

            {% if has_change_help_extra_message %}
                <p>{{ 'changehelpextramessage'|trans|raw }}</p>
            {% endif %}

            {% if show_change_help_reset %}
                <p>{{ 'changehelpreset'|trans|raw }}</p>
                <ul>
                    {% if use_questions %}<li>{{ 'changehelpquestions'|trans|raw }}</li>{% endif %}
                    {% if use_tokens    %}<li>{{ 'changehelptoken'|trans|raw }}</li>{% endif %}
                    {% if use_sms       %}<li>{{ 'changehelpsms'|trans|raw }}</li>{% endif %}
                    {% if change_sshkey %}<li>{{ 'changehelpsshkey'|trans|raw }}</li>{% endif %}
                </ul>
            {% endif %}
        </div>
    {% endif %}

    {% if show_policy_for(result) and pwd_show_policy_pos == 'above' %}
        {% include 'policy.twig' with {'config': pwd_policy_config} %}
    {% endif %}

    <div class="alert alert-info">
        <form action="#" method="post" class="form-horizontal">
            {# reminder form input parameters : id, label, icon, text, default value #}
            {{ forms.row_input_text('login', 'login', 'user', 'login', login) }}
            {{ forms.row_input_password('oldpassword', 'oldpassword', 'lock', 'oldpassword') }}
            {{ forms.row_input_password('newpassword', 'newpassword', 'lock', 'newpassword') }}
            {{ forms.row_input_password('confirmpassword', 'confirmpassword', 'lock', 'confirmpassword') }}
            {% if use_recaptcha %}
                {{ forms.row_recaptcha(recaptcha_publickey, recaptcha_theme, recaptcha_type, recaptcha_size, lang) }}
            {% endif %}
            {{ forms.row_button_submit() }}
        </form>
    </div>

    {% if show_policy_for(result) and pwd_show_policy_pos == 'below' %}
        {% include 'policy.twig' with {'config': pwd_policy_config} %}
    {% endif %}
{% endblock %}
