{% macro row_input_text(id, label, icon, placeholder, default_value) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <input name="{{ id }}" id="{{ id }}" value="{{ default_value|default('') }}" class="form-control" placeholder="{{ placeholder|trans }}" />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_email(id, label, icon, placeholder, default_value) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <input type="email" name="{{ id }}" id="{{ id }}" value="{{ default_value|default('') }}" class="form-control" placeholder="{{ placeholder|trans }}" />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_textarea(id, label, icon, placeholder) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <textarea name="{{ id }}" id="{{ id }}" class="form-control" rows="2" placeholder="{{ placeholder|trans }}"></textarea>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_password(id, label, icon, placeholder) %}
    <div class="form-group">
        <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
                <input type="password" name="{{ id }}" id="{{ id }}" value="{{ default_value }}" class="form-control" placeholder="{{ placeholder|trans }}" />
            </div>
        </div>
    </div>
{% endmacro %}

{% macro row_input_select(id, label, icon, options) %}
<div class="form-group">
    <label for="{{ id }}" class="col-sm-4 control-label">{{ label|trans }}</label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-{{ icon }}"></i></span>
            <select name="{{ id }}" id="{{ id }}" class="form-control">
                {% for key,value in options %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% endmacro %}

{% macro row_static_text(label, value) %}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ label|trans }}</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{ value }}</p>
        </div>
    </div>
{% endmacro %}

{% macro row_button_submit(label, icon) %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-success">
                <i class="fa fa-fw fa-{{ icon|default('check-square-o') }}"></i> {{ label|default('submit')|trans }}
            </button>
        </div>
    </div>
{% endmacro %}

{% macro row_recaptcha(publickey, theme, type, size, lang) %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="g-recaptcha" data-sitekey="{{ publickey }}" data-theme="{{ theme }}" data-type="{{ type }}" data-size="{{ size }}"></div>
            <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ lang }}"></script>
        </div>
    </div>
{% endmacro %}