<html lang="{{ lang }}">
<head>
{% block head %}
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="LDAP Tool Box" />
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/self-service-password.css" />
        {% if background_image is not empty %}
            <style>
                html, body {
                    background: url("{{ background_image }}") no-repeat center fixed;
                    background-size: cover;
                }
            </style>
        {% endif %}
    {% endblock %}
{% endblock %}
</head>
<body>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-body">
            {% if show_menu %}
                {%
                include 'menu.twig' with {
                'use_questions': use_questions,
                'use_tokens': use_tokens,
                'use_sms': use_sms,
                'change_sshkey': change_sshkey,
                'action': action,
                'source': source,
                }
                %}
            {% else %}
                <div class="title alert alert-success text-center"><h1>{{ 'title'|trans }}</h1></div>
            {% endif %}

            {% if logo %}
                <a href="index.php" alt="Home">
                    <img src="{{ logo }}" alt="Logo" class="logo img-responsive center-block" />
                </a>
            {% endif %}

            {% if dependency_check_results|length > 0 %}
                {% for check_result in dependency_check_results %}
                    <div class="result alert alert-{{ check_result|criticality }}">
                        <p><i class="fa fa-fw {{ check_result|fa_class }}" aria-hidden="true"></i> {{ check_result|trans }}</p>
                    </div>
                {% endfor %}
            {% else %}
                {% block main %}
                {% endblock %}
            {% endif %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/self-service-password.js"></script>
{% endblock %}
</body>
</html>