{% import _self as menu %}

<div class="navbar-wrapper">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php"><i class="fa fa-fw fa-home"></i> {{ 'title'|trans }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% macro item(action, is_active, icon, title, help) %}
                        <li class="{{ is_active ? 'active' }}">
                            <a href="?action={{ action }}" data-toggle="menu-popover" data-content="{{ help|trans|striptags }}">
                                <i class="fa fa-fw fa-{{ icon }}"></i> {{ title|trans }}
                            </a>
                        </li>
                    {% endmacro %}

                    {% if use_questions %}
                        {% set use_questions_active = action in ['resetbyquestions', 'setquestions'] %}
                        {{ menu.item('resetbyquestions', use_questions_active, 'question-circle', 'menuquestions', 'changehelpquestions') }}
                    {% endif %}
                    {% if use_tokens %}
                        {% set use_tokens_active = ( ( action == 'resetbytoken' and source != 'sms' ) or action == 'sendtoken' ) %}
                        {{ menu.item('sendtoken', use_tokens_active, 'envelope', 'menutoken', 'changehelptoken') }}
                    {% endif %}
                    {% if use_sms %}
                        {% set use_sms_active = ( ( action == 'resetbytoken' and source != 'sms' ) or action == 'sendsms' ) %}
                        {{ menu.item('sendsms', use_sms_active, 'mobile', 'menusms', 'changehelpsms') }}
                    {% endif %}
                    {% if change_sshkey %}
                        {% set use_sms_active = action == 'changesshkey' %}
                        {{ menu.item('changesshkey', use_sms_active, 'terminal', 'menusshkey', 'changehelpsshkey') }}
                    {% endif %}
                    {% if use_totp %}
                        {% set use_totp_active = ( ( action == 'resetbytoken' and source != 'sms' ) or action == 'changetotp' ) %}
                        {{ menu.item('changetotp', use_totp_active, 'clock-o', 'menutotp', 'changehelptotp') }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
