{% extends 'layout.twig' %}

{% import 'forms.twig' as forms %}

{% block main %}
    {{ parent() }}

    {# Show the form unless answer was already changed. #}
    {% if result != 'answerchanged' %}
        {% if show_help %}
            <div class="help alert alert-warning">
                <p><i class="fa fa-fw fa-info-circle"></i> {{ 'setquestionshelp'|trans|raw }}</p>
            </div>
        {% endif %}
        <div class="alert alert-info">
            <form action="#" method="post" class="form-horizontal">
                {{ forms.row_input_text('login', 'login', 'user', 'login', login) }}
                {{ forms.row_input_password('password', 'password', 'lock', 'password') }}
                {{ forms.row_input_select('question', 'question', 'question', questions) }}
                {{ forms.row_input_text('answer', 'answer', 'pencil', 'answer') }}
                {% if use_recaptcha %}
                    {{ forms.row_recaptcha(recaptcha_publickey, recaptcha_theme, recaptcha_type, recaptcha_size, lang) }}
                {% endif %}
                {{ forms.row_button_submit() }}
            </form>
        </div>
    {% endif %}
{% endblock %}
